#  **This is a project for week 3**

## installing and importing necessary libraries

In [0]:
#!pip install lxml
#!pip install html5lib
#!pip install BeautifulSoup4
import pandas as pd
import html5lib

## importing and manipulating dataset. Task 1

In [0]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [0]:
df = df.drop(df[df['Borough'] == 'Not assigned'].index)

In [0]:
df = df.rename(columns={'Postcode': 'PostalCode'})

In [0]:
df.reset_index(drop=True, inplace=True);

In [35]:
df.shape

(210, 3)

In [36]:
df.head(2)

  PostalCode     Borough      Neighborhood
0        M3A  North York         Parkwoods
1        M4A  North York  Victoria Village

## inserting log and lan; Task 2.

In [0]:
df1=pd.read_csv('https://cocl.us/Geospatial_data')

In [0]:
lat=[]
for i in range(210):
  a=df.loc[i,['PostalCode']]
  b=df1[df1['Postal Code']==a[0]]['Latitude']
  lat.append(b.values[0])

In [0]:
lon=[]
for i in range(210):
  a=df.loc[i,['PostalCode']]
  b=df1[df1['Postal Code']==a[0]]['Longitude']
  lon.append(b.values[0])

In [0]:
df['Latitude']=lat
df['Longitude']=lon

In [87]:
df[df['PostalCode']=='M4B'] # same results as in example

   PostalCode    Borough      Neighborhood   Latitude  Longitude
10        M4B  East York  Woodbine Gardens  43.706397 -79.309937
11        M4B  East York     Parkview Hill  43.706397 -79.309937